# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.so
venv/
.env

# Conda
.conda/

# Data — managed by DVC, not git
kaggle_raw/
prediction-of-sepsis.zip

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/

# Logs
*.log
